@font-face {
    font-family: SilkScreen;
    src: local('/assets/Silkscreen-Bold.ttf');
}

@font-face {
    font-family: Sauce;
    src: local('/assets/SourceCodePro-VariableFont_wght.ttf'), url('./assets/SourceCodePro-VariableFont_wght.ttf');
}

.row { 
    display: flex;
    font-size: 10px; 
    text-align: center; 
}
.cell { 
    width: 16px; 
    height: 16px; 
    margin: 0px; 
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

button{
    padding: 1rem 1.5rem;
    height: fit-content;
    font-family: Sauce;
    cursor: pointer;
}

body{
    font-size: smaller;
    background: wheat; 
    font-family: Sauce;
}

#container{
    background-color: white;
}

input{
    cursor: pointer;
}
